<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>TEST</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- 引入角色数据 -->
    <script src="./assets/data/config.js"></script>
    <script src="./assets/data/character.js"></script>
    <script src="./assets/data/anime.js"></script>
    <script src="./assets/data/comic.js"></script>
    <script src="./assets/data/timeline.js"></script>
    <script src="./assets/data/gallery.js"></script>
    <script src="./assets/data/goods.js"></script>
    <script src="./assets/data/dress.js"></script>
    <!-- 新增商品数据 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <link rel="stylesheet" href="./assets/css/main.css" />
    
    <link rel="preload" href="./assets/images/cursor/cursor-default.png" as="image">
    <link rel="preload" href="./assets/images/cursor/cursor-hover.png" as="image">


</head>

<body style="background: rgb(7, 7, 7)">
    <canvas id="particle-canvas"></canvas>
    <div id="app">
        <div id="container">
            <div id="body">
                <div id="top">
                    <img class="top-btn" v-for="(item, index) in 8" :key="index" @click="tapBtn(index)" :src="current === index + 1 
                            ? './assets/images/top/top' + (index + 1) + '-active.png' 
                            : './assets/images/top/top' + (index + 1) + '.png'"
                        :class="{ 'active-btn': current === index + 1 }" />
                </div>
                <div id="center">
                    <!-- 1 -->
                    <div class="center-content" v-if="current == 1">
                        <h3 class="section-title">角色信息</h3>
                        <div class="character-container">
                            <!-- 角色1 -->
                            <div class="character-card" v-for="(item, index) in characterArray" :key="index">
                                <img class="character-img" :src="item.cover" />
                                <!-- <div class="character-img" style="background-image: url('./assets/images/char1.jpg')"></div> -->
                                <strong class="character-name">{{ item.name }}</strong>
                                <div class="character-props">
                                    <p v-if="item.age">年龄：{{ item.age }}岁</p>
                                    <p>职业：{{ item.job_name }}</p>
                                    <p v-if="item.birthday">生日：{{ item.birthday }}</p>
                                    <p v-if="item.physical_attr">{{ item.physical_attr }}</p>
                                    <p v-if="item.weapon">武器：{{ item.weapon }}</p>
                                    <p v-if="item.other">{{ item.other }}</p>
                                    <p v-if="item.bloodtype">血型：{{ item.bloodtype }}</p>
                                    <!-- <p>&nbsp;</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 2 -->

                    <div class="center-content" v-if="current == 2">
                        <h3 class="section-title">动画剧集</h3>
                        <div class="anime-grid-container">
                            <div class="anime-grid">
                                <div class="anime-grid-row" v-for="row in paginatedAnime" :key="row.id">
                                    <div class="anime-grid-card" v-for="(item, rowIndex) in row" :key="rowIndex"
                                        @click="showVideo(item)">
                                        <img class="anime-grid-cover" :src="item.cover" />
                                        <div class="anime-grid-title">{{ item.title }}</div>
                                    </div>
                                </div>
                            </div>

                            <!-- 分页 -->
                            <div class="pagination">
                                <div v-for="page in animeTotalPages" :key="page" class="page-number"
                                    :class="{ 'active': animeCurrentPage === page }" @click="animeCurrentPage = page">
                                    {{ page }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--第-->

                    <div class="center-content" v-if="current == 3">
                        <h3 class="section-title">出场漫画</h3>
                        <div class="comic-grid-container">
                            <div class="comic-grid">
                                <div class="comic-grid-row" v-for="(row, pagIndex) in paginatedComic" :key="pagIndex">
                                    <div class="comic-grid-card" v-for="(item, rowIndex) in row" :key="rowIndex"
                                        @click="showComicDetail(item)">
                                        <img class="comic-grid-cover" :src="item.cover" />
                                        <div class="comic-grid-title">{{ item.title }}</div>
                                    </div>
                                </div>
                            </div>
                            <!-- 分页控件 -->
                            <div class="pagination">
                                <div v-for="page in comicTotalPages" :key="page" class="page-number"
                                    :class="{ 'active': comicCurrentPage === page }" @click="comicCurrentPage = page">
                                    {{ page }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="center-content" v-if="current == 4">
                        <h3 class="section-title">时间轴</h3>
                        <div class="timeline-container">
                            <!-- 循环时间轴行 -->
                            <div class="timeline-row" v-for="(row, index) in chunkedTimeline" :key="index">
                                <div class="timeline-line"></div>
                                <div class="timeline-items">
                                    <!-- 循环每个时间点 -->
                                    <div class="timeline-item" v-for="(item, rowIndex) in row" :key="rowIndex"
                                        @click="selectTimeline(item)">
                                        <div class="timeline-dot"></div>
                                        <div class="timeline-card">
                                            <img :src="item.cover" class="timeline-cover">
                                            <div class="timeline-info">
                                                <h4>{{ item.title }}</h4>
                                                <p>{{ item.date }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="center-content" v-if="current == 5">
                        <h3 class="section-title">个人画廊</h3>
                        <div class="gallery-container">
                            <div class="gallery-content">
                                <div class="artwork-row" v-for="(row, pagIndex) in paginatedArtworks" :key="pagIndex">
                                    <div class="artwork-card" v-for="(artwork, rowIndex) in row" :key="rowIndex">
                                        <div class="artwork-image" @click="showArtworkDetail(artwork)">
                                            <img :src="artwork.imageUrl" />
                                            <img class="artwork-zoom-icon" src="./assets/images/zoom-icon.png" />
                                        </div>
                                        <div class="artwork-info">
                                            <strong>{{ artwork.title }}</strong>
                                            <p class="artwork-date">{{ artwork.date }}</p>
                                            <p class="artwork-author">
                                                <a :href="artwork.authorLink" target="_blank">
                                                    {{ artwork.author }} ↗
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 分页控件 -->
                            <div class="pagination">
                                <div v-for="page in totalPages" :key="page" class="page-number"
                                    :class="{ active: currentPage === page }" @click="currentPage = page">
                                    {{ page }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="body-6" v-if="current == 6">
                        <h3 class="section-title">官方周边</h3>
                        <div class="goods-container">
                            <div class="goods-content">
                                <div>
                                    <div class="goods-row" v-for="(row, rowIndex) in paginatedProducts" :key="rowIndex">
                                        <div class="goods-card" v-for="(product, productIndex) in row"
                                            :key="productIndex">
                                            <div class="goods-image">
                                                <img :src="product.imageUrl" />
                                            </div>
                                            <div class="goods-info">
                                                <strong>{{ product.title }}</strong>
                                                <p class="goods-price">{{ product.price }}</p>
                                                <p class="goods-date">
                                                    {{ product.releaseDate
                                                    }}&nbsp;&nbsp;&nbsp;<a :href="product.purchaseLink" target="_blank"
                                                        class="goods-link">官网↗</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 分页控件 -->
                                <div class="pagination">
                                    <div v-for="page in productTotalPages" :key="page" class="page-number"
                                        :class="{ active: productCurrentPage === page }"
                                        @click="productCurrentPage = page">
                                        {{ page }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="body-7" v-if="current == 7">
                        <h3 class="section-title">换装工坊</h3>
                        <div class="dress-container">
                            <!-- 左侧预览区 -->
                            <div id="preview" class="dress-preview">
                                <div class="dress-layer" v-for="(part, index) in dressLayers" :key="index"
                                    :style="{ zIndex: part.zIndex, backgroundImage: 'url('+currentParts[part.id]+')' }">
                                </div>
                                <img class="download-icon ignore" @click="download"
                                    src="./assets/images/download-icon.png">
                            </div>

                            <!-- 右侧部件选择区 -->
                            <div class="dress-parts">
                                <div class="part-row">
                                    <div class="part-controls">
                                        <button class="arrow-btn" @click="scrollPart(0, -1, true)">❮</button>
                                        <div style="width: 100%; overflow-x: hidden;">
                                            <div id="thumb-part" class="thumb-list" ref="thumbList">
                                                <div class="thumb-item thumb-suit" v-for="(item, i) in dressSuits"
                                                    :key="i" :class="{active: suitIndex === i}"
                                                    @click="setSuit(item, i)">
                                                    <!-- <img :src="getThumb(item)" /> -->
                                                    {{ item.name }}
                                                </div>
                                            </div>
                                        </div>

                                        <button class="arrow-btn" @click="scrollPart(0, 1, true)">❯</button>
                                    </div>
                                </div>
                                <!-- 每个部件行 -->
                                <div class="part-row" v-for="(part, index) in dressParts" :key="index">
                                    <div class="part-controls">
                                        <button class="arrow-btn" @click="scrollPart(index, -1)">❮</button>
                                        <div style="width: 100%; overflow-x: hidden;">
                                            <div :id="`thumb-${index}`" class="thumb-list" ref="thumbList">
                                                <div class="thumb-item" v-for="(item, i) in part.items" :key="i"
                                                    :class="{active: currentParts[part.id] === item}"
                                                    @click="selectPart(part.id, item)">
                                                    <img :src="getThumb(item)" />
                                                </div>
                                            </div>
                                        </div>

                                        <button class="arrow-btn" @click="scrollPart(index, 1)">❯</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div id="body-8" v-if="current == 8">
                        <h3 class="section-title">武器图鉴</h3>
                        <div class="arms-container">
                            <div class="arms-card" v-for="(weapon, index) in weaponsArray" :key="index">
                                <div class="arms-image" @click="showWeaponGallery(weapon)">
                                    <img class="arms-cover" :src="weapon.mainImage" />
                                    <img class="arms-zoom-icon" src="./assets/images/zoom-icon.png" />
                                </div>
                                <div class="arms-info">
                                    <p class="arms-name">{{ weapon.name }}</p>
                                    <p class="arms-type">类型：{{ weapon.type }}</p>
                                    <p class="arms-appearance">出场：{{ weapon.appearance }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer">
                <div class="footer-content">
                    <!-- 左侧文字 -->
                    <div class="footer-text">
                        <p>
                            网站作者：{{ config.author }} &nbsp; &nbsp; |&nbsp;
                            &nbsp;素材来源：《东京喰种》官方素材
                        </p>
                        <p>
                            本网站是为爱发电产物，图片版权归官方所有。不得擅自搬运商用。
                        </p>
                        <p>
                            ©2024 版权所有 | 备案号：京ICP备XXXXXX号 |
                            公安备案：京公网安备XXXXXXX号
                        </p>
                    </div>

                    <!-- 右侧图标 -->
                    <div class="footer-icons">
                        <a href="https://space.bilibili.com/4639969?spm_id_from=333.788.0.0" target="_blank">
                            <img src="./assets/images/bilibili-icon.png" alt="Bilibili" title="B站主页" />
                        </a>
                        <a href="https://www.xiaohongshu.com/user/profile/5e777d0600000000010076dd?xsec_token=YB1yinvuwDyhNbROojkiU4vDcE1DnAtiQEOmfxgVayGlQ%3D&xsec_source=app_share&xhsshare=CopyLink&appuid=5e777d0600000000010076dd&apptime=1746459613&share_id=401729bc225748d7b0bae957cc411ad4&share_channel=copy_link"
                            target="_blank">
                            <img src="./assets/images/xhs-icon.png" alt="小红书" title="小红书主页" />
                        </a>
                        <a href="#" @click="isShowWechatQr = true">
                            <img src="./assets/images/wechat-icon.png" alt="微信" title="商务微信" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 大图弹窗 -->
        <div v-if="selectedArtwork" class="artwork-modal">
            <div class="modal-content">
                <span class="close" @click="selectedArtwork = null">&times;</span>
                <img :src="selectedArtwork.imageUrl" class="modal-image" />
                <div class="modal-info">
                    <h4>{{ selectedArtwork.title }}</h4>
                    <p>
                        {{ selectedArtwork.date }} |
                        <a :href="selectedArtwork.authorLink" target="_blank">
                            {{ selectedArtwork.author }} ↗
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <!-- 视频弹窗 -->
        <div v-if="selectedVideo" class="video-modal">
            <div class="video-modal-content">
                <span class="video-close" @click="selectedVideo = null">&times;</span>
                <video controls width="100%" v-if="selectedVideo">
                    <source :src="selectedVideo" type="video/mp4">
                    你的浏览器不支持视频播放
                </video>
            </div>
        </div>
        <!-- 武器图鉴弹窗 -->
        <div v-if="selectedWeapon" class="arms-modal">
            <div class="arms-modal-content">
                <span class="arms-close" @click="selectedWeapon = null">&times;</span>
                <img :src="currentWeaponImage" class="arms-modal-image" />
                <div class="arms-modal-controls">
                    <button @click="prevImage" :disabled="currentImageIndex === 0">上一张</button>
                    <span>{{ currentImageIndex + 1 }}/{{ selectedWeapon.images.length }}</span>
                    <button @click="nextImage"
                        :disabled="currentImageIndex === selectedWeapon.images.length - 1">下一张</button>
                </div>
            </div>
        </div>

        <!-- 漫画弹窗 -->
        <div v-if="selectedComic" class="comic-modal">
            <div class="comic-modal-content">
                <!-- 关闭按钮（位置调整到右上角） -->
                <span class="comic-close" @click="selectedComic = null">&times;</span>

                <div class="comic-main-view">
                    <img :src="selectedComic.images[currentComicImageIndex]" class="comic-modal-image" />
                    <!-- 控制按钮样式优化 -->
                    <div class="comic-modal-controls">
                        <button @click="prevComicImage" :disabled="currentComicImageIndex === 0">上一页</button>
                        <span style="color:#fff">{{ currentComicImageIndex + 1 }}/{{ selectedComic.images.length
                            }}</span>
                        <button @click="nextComicImage"
                            :disabled="currentComicImageIndex === selectedComic.images.length-1">下一页</button>
                    </div>
                </div>

                <!-- 预览区尺寸优化 -->
                <div class="comic-preview">
                    <div class="preview-item" v-for="(img,index) in selectedComic.images"
                        :class="{active: currentComicImageIndex === index}" @click="currentComicImageIndex = index">
                        <img :src="img" />
                    </div>
                </div>
            </div>
        </div>
        <!-- 微信弹窗 -->
        <div v-if="isShowWechatQr" class="comic-modal">
            <div class="comic-modal-content">
                <!-- 关闭按钮（位置调整到右上角） -->
                <span class="comic-close" @click="isShowWechatQr = false">&times;</span>

                <div class="comic-main-view" style="margin: 20px;">
                    <img src="./assets/images/wechat.jpg" class="comic-modal-image" />
                </div>
            </div>
        </div>
        <!-- 悬浮图标 -->
        <div id="birthday-floater" class="floating-mini">
            <img src="./assets/images/mini/mini0.png" />
        </div>

        <!-- 生日弹窗 -->
        <div v-if="showBirthdayModal" class="birthday-modal">
            <div class="modal-content">
                <span class="close" @click="showBirthdayModal = false">&times;</span>

                <!-- 倒计时 -->
                <div class="countdown">
                    距离6月8日还有<br />{{ countdownDays }}天{{ countdownHours }}时{{ countdownMinutes }}分{{ countdownSeconds
                    }}秒
                </div>

                <!-- 九宫格 -->
                <div class="birthday-grid">
                    <div v-for="(cell, index) in 9" :key="index"
                        :class="['grid-cell', {unlocked: unlockedCells >= index+1}]" :style="getGridStyle(index)"></div>
                </div>

                <button class="punch-btn" @click="handlePunch" :disabled="hasPunchedToday">
                    {{ hasPunchedToday ? '今日已打卡' : '点击打卡' }}
                </button>
            </div>
        </div>


    </div>
    <script>
        function sortByDate(array, timekey) {
            let arr = array;
            arr.sort((a, b) => {
                const timeA = new Date(a[timekey]).getTime();
                const timeB = new Date(b[timekey]).getTime();
                return timeB - timeA;
            });
            return arr
        }
        var app = new Vue({
            el: "#app",
            data: {
                current: 1,
                config: config,
                characterArray: characterArray,
                galleryArray: sortByDate(galleryArray, 'date'), // 新增画廊数据
                currentPage: 1,
                pageSize: 8,
                selectedArtwork: null,
                isShowWechatQr: false,

                productArray: sortByDate(goodsArray, 'releaseDate'), // 新增商品数据绑定
                productPageSize: 10, // 商品分页大小
                productCurrentPage: 1, // 商品当前页

                comicList: comicList,
                comicCurrentPage: 1,
                comicPageSize: 15, // 5列*3行

                //武器//
                weaponsArray: [
                    {
                        name: '毒蝎1/56',
                        type: '[尾赫]',
                        appearance: '东京喰种',
                        mainImage: './assets/images/arms/arms1.jpg',
                        images: [
                            './assets/images/arms/arms1-1.jpg',
                            './assets/images/arms/arms1-2.jpg',
                            './assets/images/arms/arms1-3.jpg',
                            './assets/images/arms/arms1-4.jpg',
                            './assets/images/arms/arms1-5.jpg',
                            './assets/images/arms/arms1-6.jpg',
                            './assets/images/arms/arms1-7.jpg',
                            './assets/images/arms/arms1-8.jpg',
                            './assets/images/arms/arms1-9.jpg',
                            './assets/images/arms/arms1-10.jpg'
                        ]
                    },
                    {
                        name: '13s杰森',
                        type: '[鳞赫]',
                        appearance: '东京喰种',
                        mainImage: './assets/images/arms/arms2.jpg',
                        images: [
                            './assets/images/arms/arms2-1.jpg',
                            './assets/images/arms/arms2-2.jpg',
                            './assets/images/arms/arms2-3.jpg',
                            './assets/images/arms/arms2-4.jpg',
                            './assets/images/arms/arms2-5.jpg',
                            './assets/images/arms/arms2-6.jpg',
                            './assets/images/arms/arms2-7.jpg'
                        ]
                    },
                    {
                        name: '义肢',
                        type: '未知',
                        appearance: '东京喰种re',
                        mainImage: './assets/images/arms/arms3.jpg',
                        images: [
                            './assets/images/arms/arms3-1.jpg',
                            './assets/images/arms/arms3-2.jpg',
                            './assets/images/arms/arms3-3.jpg',
                            './assets/images/arms/arms3-4.jpg',
                            './assets/images/arms/arms3-5.jpg',
                            './assets/images/arms/arms3-6.jpg'
                        ]
                    },
                    {
                        name: '新JOKER',
                        type: '[甲赫]',
                        appearance: '东京喰种re',
                        mainImage: './assets/images/arms/arms4.jpg',
                        images: [
                            './assets/images/arms/arms4-1.jpg',
                            './assets/images/arms/arms4-2.jpg',
                            './assets/images/arms/arms4-3.jpg',
                            './assets/images/arms/arms4-4.jpg',
                            './assets/images/arms/arms4-5.jpg'
                        ]
                    },
                    // 其他三个武器数据...
                ],
                selectedWeapon: null,
                currentImageIndex: 0,

                animeList: animeList,
                animeCurrentPage: 1,
                animePageSize: 12,
                selectedVideo: null,

                //style//
                currentParts: {
                    'body0': './assets/images/style/body0.png',
                    'fajia': '',  // 新增
                    'hair-f': '',
                    'beidai': '',
                    'shirt': '',
                    'jeans': '',
                    'shoes': '',
                    'cixiu': ''
                },
                dressLayers: dressConfig.layers,
                dressParts: dressConfig.parts,
                dressSuits: dressConfig.suits,
                suitIndex: '',

                selectedComic: null,
                currentComicImageIndex: 0,

                timelineData: timelineData,
                timelineChunkSize: 5, // 每行显示5个

                showBirthdayModal: false,
                countdownDays: 0,
                countdownHours: 0,
                countdownMinutes: 0,
                unlockedCells: 0,
                hasPunchedToday: false,
                puchAllDay: false,
                lastPunchDate: null,
                lastPlayedIndex: -1, // 新增变量记录上次播放索引

                clickSounds: [
                    './assets/voice/click1.mp3',
                    './assets/voice/click2.mp3',
                    './assets/voice/click3.mp3',
                    './assets/voice/click4.mp3',
                    './assets/voice/click5.mp3'
                ]


            },
            computed: {
                paginatedArtworks() {
                    const start = (this.currentPage - 1) * this.pageSize;
                    const artworks = this.galleryArray.slice(
                        start,
                        start + this.pageSize
                    );
                    return Array.from(
                        { length: Math.ceil(artworks.length / 4) },
                        (_, i) => artworks.slice(i * 4, i * 4 + 4)
                    );
                },
                totalPages() {
                    return Math.ceil(this.galleryArray.length / this.pageSize);
                },

                paginatedProducts() {
                    // 商品分页逻辑
                    const start = (this.productCurrentPage - 1) * this.productPageSize;
                    const products = this.productArray.slice(
                        start,
                        start + this.productPageSize
                    );
                    return Array.from(
                        { length: Math.ceil(products.length / 5) },
                        (_, i) => products.slice(i * 5, i * 5 + 5)
                    );
                },
                productTotalPages() {
                    // 商品总页数
                    return Math.ceil(this.productArray.length / this.productPageSize);
                },
                currentWeaponImage() {
                    return this.selectedWeapon?.images[this.currentImageIndex] || '';
                },

                // 新增分页计算属性
                paginatedAnime() {
                    const start = (this.animeCurrentPage - 1) * this.animePageSize;
                    const items = this.animeList.slice(start, start + this.animePageSize);
                    return Array.from({ length: Math.ceil(items.length / 4) }, (_, i) => items.slice(i * 4, i * 4 + 4));
                },
                animeTotalPages() {
                    return Math.ceil(this.animeList.length / this.animePageSize);
                },

                //manhuafenye
                paginatedComic() {
                    const start = (this.comicCurrentPage - 1) * this.comicPageSize;
                    const items = this.comicList.slice(start, start + this.comicPageSize);
                    return Array.from({ length: Math.ceil(items.length / 5) }, (_, i) => items.slice(i * 5, i * 5 + 5));
                },
                comicTotalPages() {
                    return Math.ceil(this.comicList.length / this.comicPageSize);
                },

                chunkedTimeline() {
                    return Array.from(
                        { length: Math.ceil(this.timelineData.length / this.timelineChunkSize) },
                        (_, i) => this.timelineData.slice(i * this.timelineChunkSize, (i + 1) * this.timelineChunkSize)
                    );
                },

            },

            methods: {
                tapBtn(index) {
                    this.current = index + 1;
                },

                showArtworkDetail(artwork) {
                    this.selectedArtwork = artwork;
                },

                async init() { },

                // 新增漫画弹窗方法
                showComicDetail(item) {
                    this.selectedComic = item;
                    this.currentComicImageIndex = 0;
                },
                prevComicImage() {
                    if (this.currentComicImageIndex > 0) this.currentComicImageIndex--;
                },
                nextComicImage() {
                    if (this.currentComicImageIndex < this.selectedComic.images.length - 1) this.currentComicImageIndex++;
                },

                //武器//
                showWeaponGallery(weapon) {
                    this.selectedWeapon = weapon;
                    this.currentImageIndex = 0;
                },
                prevImage() {
                    if (this.currentImageIndex > 0) {
                        this.currentImageIndex--;
                    }
                },
                nextImage() {
                    if (this.currentImageIndex < this.selectedWeapon.images.length - 1) {
                        this.currentImageIndex++;
                    }
                },
                showVideo(item) {
                    this.selectedVideo = item.videoSrc;
                },

                //style//
                scrollPart(index, direction, ispart) {
                    let max, slider, keyname;
                    if (ispart) {
                        if (!this.dressSuits[0].current) {
                            this.dressSuits[0].current = 1;
                        }
                        if (this.dressSuits[0].current + direction < 1) {
                            return;
                        }
                        max = Math.ceil(this.dressSuits.length / 10);
                        if (this.dressSuits[0].current + direction > max) {
                            return;
                        }
                        slider = document.getElementById('thumb-part');
                    } else {
                        if (!this.dressParts[index].current) {
                            this.dressParts[index].current = 1;
                        }
                        if (this.dressParts[index].current + direction < 1) {
                            return;
                        }
                        max = Math.ceil(this.dressParts[index].items.length / 10);
                        if (this.dressParts[index].current + direction > max) {
                            return;
                        }
                        slider = document.getElementById('thumb-' + index);
                    }
                    console.log(max)
                    let start = slider.style.transform;
                    if (start) {
                        const match = start.match(/-?\d+/);
                        start = parseInt(match[0], 10); // 转为数字 -5
                    } else {
                        start = 0;
                    }

                    let currentPosition = start; // 初始位置
                    const targetPosition = start + direction * -100; // 目标位置

                    if (start + targetPosition > 0) return;

                    const speed = direction * -1 * 5; // 移动速度（像素/秒）
                    const interval = setInterval(() => {
                        currentPosition += speed; // 增加位置值
                        if (currentPosition == targetPosition) { // 检查是否达到目标位置
                            clearInterval(interval); // 停止动画
                            currentPosition = targetPosition; // 确保精确停在目标位置
                        }

                        slider.style.transform = `translateX(${currentPosition}%)`; // 应用变换
                        // console.log(slider.style.transform);
                    }, 1000 / 60);
                    if (ispart) {
                        this.dressSuits[0].current = this.dressSuits[0].current + direction;
                    } else {
                        this.dressParts[index].current = this.dressParts[index].current + direction;
                    }
                },
                selectPart(type, path) {
                    // 确保同一类型只能选择一个
                    this.currentParts[type] = this.currentParts[type] === path ? '' : path
                    console.log(this.currentParts)

                },
                getThumb(path) {
                    return path.replace('.png', '-thumb.png').replace('.jpg', '-thumb.jpg') // 缩略图命名规则
                },
                setSuit(item, index) {
                    for (let i in item.config) {
                        if (i == 'body0') continue;
                        if (item.config[i] > 0) {
                            for (let j in this.dressParts) {
                                if (this.dressParts[j].id == i) {
                                    this.currentParts[i] = this.dressParts[j].items[item.config[i] - 1];
                                    break;
                                }
                            }
                        } else {
                            this.currentParts[i] = '';
                        }
                    }
                    this.suitIndex = index;
                    this.$forceUpdate();
                },
                download() {
                    // 配置选项
                    const options = {
                        useCORS: true,    // 启用跨域支持
                        scale: 2,         // 提升分辨率
                        logging: true,    // 调试时查看日志
                        allowTaint: false, // 强制使用CORS
                        ignoreElements: (element) => {
                            // 通过类名排除
                            if (element.classList.contains('ignore')) {
                                return true; // 返回 true 表示排除
                            }
                            return false;
                        },
                    };
                    const element = document.getElementById('preview');
                    html2canvas(element, options).then(canvas => {
                        const link = document.createElement('a');
                        link.download = 'TODO 文件名.png';
                        link.href = canvas.toDataURL('image/png', 1.0);
                        link.click();
                    }).catch(err => {
                        console.error('截图失败:', err);
                    });
                },

                selectTimeline(item) {
                    // 预留点击事件，未来可跳转漫画
                    console.log('选中时间轴:', item)
                },

                //birthday
                // 悬浮窗拖拽逻辑
                handleDrag(e) {
                    const floater = document.getElementById('birthday-floater');
                    let pos1 = 0, pos2 = 0;
                    let windowWidth = document.body.clientWidth;

                    const dragMouseDown = (e) => {
                        e.preventDefault();
                        pos2 = e.clientX;
                        pos1 = e.clientY;
                        document.onmouseup = closeDrag;
                        document.onmousemove = elementDrag;
                    }

                    const elementDrag = (e) => {
                        e.preventDefault();

                        // floater.style.right = (windowWidth - e.clientX) + "px";
                        floater.style.left = (floater.offsetLeft - (pos2 - e.clientX)) + "px";
                        floater.style.top = (floater.offsetTop - (pos1 - e.clientY)) + "px";

                        pos2 = e.clientX;
                        pos1 = e.clientY;
                    }

                    const closeDrag = () => {
                        document.onmouseup = null;
                        document.onmousemove = null;
                    }

                    floater.onmousedown = dragMouseDown;
                },

                openBirthdayModal() {
                    this.showBirthdayModal = true;
                },

                // 获取九宫格背景样式
                getGridStyle(index) {
                    const basePath = './assets/images/birthday/';
                    const active = false;
                    if (this.unlockedCells >= index + 1) {
                        const row = Math.floor(index / 3);
                        const col = index % 3;
                        return {
                            backgroundImage: `url(${basePath}cell${index + 1}.jpg)`, // 添加具体图片路径
                            backgroundPosition: `${-col * 100}% ${-row * 100}%`,
                            backgroundSize: '300% 300%'
                        }
                    }
                    return { // 添加默认背景
                        backgroundImage: `url(${basePath}locked.jpg)`,
                        backgroundSize: 'cover'
                    };
                },

                // 打卡处理
                async handlePunch() {
                    try {
                        // 默认使用固定标识（避免依赖外部API）
                        // let ip = 'local_user';
                        // try {
                        //     const res = await fetch('https://api.ipify.org?format=json');
                        //     if (res.ok) {
                        //         const data = await res.json();
                        //         ip = data.ip || 'local_user';
                        //     }
                        // } catch (ipErr) {
                        //     console.warn('IP API不可用，使用本地标识');
                        // }

                        // const storageKey = `birthdayUnlock_${ip}`;
                        const storageKey = `_birthdayUnlock`;
                        const stored = localStorage.getItem(storageKey);
                        let record = stored ? JSON.parse(stored) : { count: 0, lastDate: null };

                        // 判断是否为当天首次打卡
                        const isNewDay = !record.lastDate || new Date().toDateString() !== new Date(record.lastDate).toDateString();

                        if (isNewDay) {
                            record.count = Math.min(record.count + 1, 9);
                            record.lastDate = new Date();
                            try {
                                localStorage.setItem(storageKey, JSON.stringify(record));
                            } catch (err) {
                                alert('浏览器存储已满或被禁用，无法保存进度！');
                                return;
                            }
                        }

                        // 更新视图
                        this.unlockedCells = record.count;
                        this.puchAllDay = record.count == 9;
                        this.hasPunchedToday = true;
                        this.$forceUpdate();
                    } catch (err) {
                        alert('打卡失败：' + err.message);
                    }
                },

                // 在Vue的methods对象内添加：
                playClickSound() {
                    const audio = document.getElementById('floatVoice');
                    if (audio) {
                        audio.currentTime = 0;
                        audio.play().catch(() => { /* 静默处理iOS限制 */ });
                    }
                },

                playRandomSound() {
                    const sounds = this.clickSounds;

                    // 生成新索引（排除上次播放的）
                    let randomIndex;
                    do {
                        randomIndex = Math.floor(Math.random() * sounds.length);
                    } while (
                        sounds.length > 1 && // 多个音频时才需要排除
                        randomIndex === this.lastPlayedIndex
                    )

                    // 播放逻辑
                    const audio = new Audio(sounds[randomIndex]);
                    audio.play().catch(() => { /* 错误处理 */ });

                    // 记录本次播放索引
                    this.lastPlayedIndex = randomIndex;
                },

                handleFloaterClick() {
                    let timer = null;
                    let delay = 200; // 双击判定间隔
                    let isDoubleClick = false;

                    return (e) => {
                        if (e.type === 'dblclick') {
                            clearTimeout(timer);
                            isDoubleClick = true;
                            this.openBirthdayModal();
                            return;
                        }

                        // 处理单击
                        timer = setTimeout(() => {
                            if (!isDoubleClick) {
                                this.playRandomSound();
                            }
                            isDoubleClick = false;
                        }, delay);
                    };
                }

            },
            async mounted() {
                const storageKey = `_birthdayUnlock`;
                const stored = localStorage.getItem('_birthdayUnlock');
                let record = stored ? JSON.parse(stored) : { count: 0, lastDate: null };
                this.unlockedCells = record.count;
                this.puchAllDay = record.count == 9;




                const floater = document.getElementById('birthday-floater');
                const clickHandler = this.handleFloaterClick();

                // 绑定事件
                floater.addEventListener('click', clickHandler);
                floater.addEventListener('dblclick', clickHandler);
                this.handleDrag();

                // 修正后的倒计时逻辑
                setInterval(() => {
                    const now = new Date();
                    const currentYear = now.getFullYear();

                    // 正确判断是否需要下一年（比较当年6月8日23:59:59）
                    const currentYearDeadline = new Date(currentYear, 5, 8, 23, 59, 59);
                    const targetYear = now > currentYearDeadline ? currentYear + 1 : currentYear;
                    const targetDate = new Date(targetYear, 5, 8);
                    const diff = targetDate - now;

                    // 精确计算并取整
                    this.countdownDays = Math.max(0, Math.floor(diff / (1000 * 60 * 60 * 24)));
                    const hoursRemainder = diff % (1000 * 60 * 60 * 24);
                    this.countdownHours = Math.max(0, Math.floor(hoursRemainder / (1000 * 60 * 60)));
                    const minutesRemainder = diff % (1000 * 60 * 60);
                    this.countdownMinutes = Math.max(0, Math.floor(minutesRemainder / (1000 * 60)));
                    const secondsRemainder = diff % (1000 * 60);
                    this.countdownSeconds = Math.max(0, Math.floor(secondsRemainder / 1000));

                    // 强制更新视图
                    this.$forceUpdate();
                }, 1000);

                // 粒子动画初始化
                const canvas = document.getElementById('particle-canvas');
                const ctx = canvas.getContext('2d');

                // 设置canvas尺寸
                function resizeCanvas() {
                    canvas.width = window.innerWidth;
                    canvas.height = window.innerHeight;
                }
                resizeCanvas();
                window.addEventListener('resize', resizeCanvas);

                // 粒子配置
                const particles = [];
                const particleCount = 33;

                // 生成粒子
                class Particle {
                    constructor() {
                        this.reset();
                    }

                    reset() {
                        this.x = Math.random() * canvas.width;
                        this.y = Math.random() * canvas.height;
                        this.radius = Math.random() * 2.0 + 1.5;
                        this.baseAlpha = Math.random() * 0.5 + 0.1;
                        this.alpha = this.baseAlpha;
                        this.speed = Math.random() * 0.04 + 0.01;
                        this.angle = Math.random() * Math.PI * 2;
                    }

                    draw() {
                        ctx.beginPath();
                        ctx.arc(this.x, this.y, this.radius, 0, Math.PI * 2);
                        ctx.fillStyle = `rgba(255, 255, 255, ${this.alpha})`;
                        ctx.fill();
                    }

                    update() {
                        // 透明度变化
                        this.alpha = this.baseAlpha + Math.sin(Date.now() * this.speed) * 0.01;

                        // 缓慢移动
                        this.x += Math.cos(this.angle) * 0.3;
                        this.y += Math.sin(this.angle) * 0.3;

                        // 边界循环
                        if (this.x < 0) this.x = canvas.width;
                        if (this.x > canvas.width) this.x = 0;
                        if (this.y < 0) this.y = canvas.height;
                        if (this.y > canvas.height) this.y = 0;
                    }
                }

                // 初始化粒子数组
                for (let i = 0; i < particleCount; i++) {
                    particles.push(new Particle());
                }

                // 动画循环
                function animate() {
                    ctx.clearRect(0, 0, canvas.width, canvas.height);

                    particles.forEach(particle => {
                        particle.update();
                        particle.draw();
                    });

                    requestAnimationFrame(animate);
                }

                animate();


            },
            created() {
                this.init();
            },
        });
    </script>
</body>
<style></style>

</html>